@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html, body {
    margin: 0;
    height: 100%;
    width: auto;
    scrollbar-width: none;
    color: #c2c2c2;
    font-family: 'Raleway', sans-serif;
}

body {

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: no-repeat top/cover url("./img/background.jpg");
    background-attachment: fixed;
}

