.login-form {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.login-form .form {
    margin-top: 10%;
    padding: 2rem;
    /* Glassmorphism*/
    background: rgba(218, 218, 218, 0.5);
    box-shadow: 0 8px 32px 0 rgba(15, 15, 19, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.login-form .form .error {
    font-size: 14px;
    color: crimson;
}

.login-form .form .form-header {
    color: #6c705f;
}

.login-form .form button {
    margin: 15px;
    padding: 10px;
    width: -moz-available;
    width: available;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #6c705f;
    color: antiquewhite;
}

.login-form .form button:hover {
    background-color: #a2a88e;
    color: antiquewhite;
    border-bottom: 3px solid rgba(98, 98, 83, 0.72);
    margin-bottom: 12px;
}

.login-form .form .registration-link {
    text-align: center;
    color: rgb(84, 84, 84);
}