.cartPlaceholder {
    display: flex;
    justify-content: center;
    margin: 100px 500px;
    background-color: rgba(38, 37, 37, 0.7);
    border-radius: 15px;
    border-bottom: 3px solid rgba(68, 68, 68, .5);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
}