@import url("https://fonts.googleapis.com/css?family=Montserrat");

p {
    font-size: 14px;
    line-height: 21px;
}

.card {
    background-color: rgba(38, 37, 37, 0.7);
    border-radius: 10px;
    border-bottom: 3px solid rgba(68, 68, 68, .5);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #c2c2c2;
    padding: 30px 15px 30px;
    margin: 15px 30px;
    width: 250px;
    max-width: 100%;
    text-align: center;
    transition: all .1s ease-in-out;
}

.card:hover {
    background-color: rgba(38, 37, 37, 0.9);
    animation: 0.3s linear ease-in-out;
    transform: scale(1.05);
    -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 12px 14px rgba(0,0,0,0);
    box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 12px 14px rgba(0,0,0,0);
    border-bottom: 3px solid rgba(255, 255, 255, 0.64);
}

.card .round {
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    padding: 7px;
}
