
.navbar-component {
    margin: 10px;
    padding: 0;
    outline: none;
    border: none;
}

.navbar-component nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(38, 37, 37, 0.5);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 15px -6px #050505;
}

@media screen and (max-width: 576px) {
    .navbar-component nav {
        flex-direction: column;
    }
}

.navbar-component .logo img {
    margin-top: 5px;
    width: 150px;
    height: 80px;
}

.navbar-component ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

@media screen and (max-width: 768px) {
    .navbar-component a {
        flex-wrap: wrap;
        justify-content: space-between !important;
        margin: 0;
        padding: 0;
        font-size: 1.2em !important;
    }

    .navbar-component .logo img {

    }
}

.navbar-component ul li {
    padding: 5px 20px;
}

.navbar-component a {
    color: #c2c2c2;
    font-size: 1.7em;
    text-decoration: none;
    position: relative;
}

.navbar-component ul li a::before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 43%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: 0.5s;
}

.navbar-component ul li a:hover::before {
    background-color: #fff;
}

.navbar-component .login-button {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-component .login-button:hover {
    color: #f6f6f6;
    transform: scale(1.2);
}

.navbar-component .cart-button {
    display: flex;
    align-items: center;
    outline: none;
    text-decoration: none;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-component .cart-button:hover {
    color: #f6f6f6;
    transform: scale(1.2);
}